$success: #00c1a4;
$info: #2F71B8;
$primary: #A8DADC;
$secondary: #ABB1B2;
$cream:#EFF9F9;
$bezantine:#C100A4;
$red_salsa:#FF5159;
$white:#fff;
$warning: #fdc84c;
$danger: #ef476f;
$silver: #F2F3F6;
$border_success:#00c1a452;
$border_half_success:#00c1a425;
$border:#dee2e6;
$border_whitesmoke:rgba(0, 0, 0, 0.399);
$svg_color:rgba(0, 0, 0, 0.399);
$text_color:rgba(0, 0, 0, 0.601);
$back_dark:#222;
$bac_dark_color:#333;
$bac_dark_color2:lighten(#333,20%);
$bac_dark_color3:#444;

