::-webkit-scrollbar {
   width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
   background: rgb(31, 41, 55);
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: rgb(17, 24, 39);
   border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: darken(rgb(17, 24, 39), 3%);
}
.animate__animated {
  animation-duration: 0.3s!important;
}

.page-enter-active,
.page-leave-active, .fade-enter-active, .fade-leave-active {
  transition: all 0.1s;
}
.page-enter-from,
.page-leave-to, .fade-enter-from, .fade-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.2s;
}
.slide-left-enter-from {
  transform: translateX(700px);
}
.slide-left-leave-to {
  /* opacity: 0; */
  transform: translateX(700px);
}
.slide-right-enter-from {
  transform: translateX(700px);
}
.slide-right-leave-to {
  transform: translateX(700px);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}